{% extends "base.html" %}

{% block title %}Categories{% endblock %}

{% block content %}
    <h1>Categories</h1>
    <ul class="customers-list">
        {% for category in data %}
        <li>
            <div class="customer-info">
                <span class="customer-name">{{ category.name }}</span>
            </div>
            <a class="customer-link" href="{{ url_for('category_products', category_name=category.name) }}">
                View Products
            </a>
        </li>
        {% endfor %}
    </ul>
    <a class="customer-link" href="{{ url_for('home') }}">← Back to Homepage</a>
{% endblock %}
