{% extends "base.html" %}

{% block title %}All Customers{% endblock %}

{% block content %}
    <h1>All Customers</h1>
    <ul class="customers-list">
        {% for customer in data %}
        <li>
            <div class="customer-info">
                <span class="customer-name">{{ customer.name }}</span>
            
            </div>
            <a class="customer-link" href="{{ url_for('customer_detail', id=customer.id) }}">
                View Details
            </a>
        </li>
        {% endfor %}
    </ul>
    <br>
    <a class="customer-link" href="{{ url_for('home') }}">← Back to Homepage</a>
{% endblock %}
