{% extends "base.html" %}

{% block title %}Welcome to the Food Store{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Yummy Food Store</h1>
        <div class="d-grid gap-3 col-6 mx-auto mt-4">
            <a class="btn btn-primary" href="{{ url_for('show_products') }}">View Products</a>
            <a class="btn btn-primary" href="{{ url_for('show_categories') }}">View Categories</a>
            <a class="btn btn-primary" href="{{ url_for('show_customers') }}">View Customers</a>
        </div>
    </div>
{% endblock %}
