{% extends "base.html" %}

{% block title %}All Products{% endblock %}

{% block content %}
    <h1>All Products</h1>
    <ul class="customers-list">
        {% for product in data %}
        <li>
            <div class="customer-info">
                <span class="customer-name">{{ product.name }}</span>
                <span class="customer-phone">Quantity: {{ product.qty }}</span>
            </div>
        </li>
        {% endfor %}
    </ul>
    <a class="customer-link" href="{{ url_for('home') }}">← Back to Homepage</a>
{% endblock %}
